<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>data_Client_to_Server</title>
</head>
<body>
    
    <h1>Write your name here ⬇️</h1>    
    <form action="/find" method="post">
    
        <label for="firstname">Firstname :</label> <br>
        <input type="text" name="firstname"> <br>
        <label for="secondname">Secondname :</label> <br> 
        <input type="text" name="secondname"> <br> 
        <input type="submit" value="OK">
    
    </form>

</body>
</html>